* {
    margin: 0;
    padding: 0;
}
#app {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 20px;
    width: 100%;
    margin: 50px 0;
}
._no_overflow {
    overflow: hidden;
}
h1{
    padding-left: 10px;
}
header {
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 50px;
    width: 100%;
    background: white;
    padding-left: 10px;
}
.header_sort {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}
.table_counter {
    width: 50px;
    height: 50px;
    border: 1px solid black;
    text-align: center;
    line-height: 50px;
    font-size: 26px;
}
.table-arrows {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
    padding-left: 10px;
}
.sort {
    cursor: pointer;
}
.arrow {
    border: 1px solid lightgray;
    background: lightgray;
    cursor: pointer;
    width: 50px;
    height: 50px;
}
.arrow:hover {
    background: lightblue;
}
.arrow::after {
    display: block;
    content: "<";
}
.arrow.btn-right::after {
    transform: rotate(180deg) translateY(5%);
}
table td {
    min-width: 50px;
    max-width: calc(max-content + 50px);
    text-align: center;
}

.popup-user__info {
    position: fixed;
    top: 50%;
    left: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 50px;
    width: 50vw;
    min-width: 500px;
    max-height: 400px;
    height: 100%;
    padding: 20px;
    border-radius: 10px;
    background: rgb(248, 253, 255);
    text-align: center;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.5);
    transform: translate(-50%, -50%);
}
.popup-user__info h3 span{
    color: blueviolet;
}
.popup-user__info-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}
._none {
    display: none;
}

.popup-user__close-btn{
    display: block;
    position: absolute;
    top: 10px; 
    right: 10px;
    padding: 5px 10px;
    border: 1px solid lightgray;
    background: white;
    cursor: pointer;
}

.popup-user__info-item{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}

.popup-user__item-img{
    max-width: 50px;
    max-height: 50px;
    width: 100%;
    height: auto;
    object-fit: contain;

}